.poster-img {
    width: 200px;
    border: 10px solid white;
    box-shadow: 0 0 10px #333;
    margin: 10px;
}

main.container {
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 5px #aaa;
}